{% extends "base.html" %} 

{% block content %}

    <div class="dashboard">
      <!-- Main Content -->
      <main class="main-content">
        <header class="header">
          <h1>Welcome, [User Name]!</h1>
          <p>Your personalized learning dashboard.</p>
        </header>
        <section class="widgets">
          <div class="widget">
            <h2><a href="{{ url_for('studygroups') }}">Study Groups</a></h2>
            <p>Collaborate with peers on specific topics and subjects.</p>
          </div>
          <div class="widget">
            <h2>
              <a href="{{ url_for('discussionforums') }}">Discussion Forums</a>
            </h2>
            <p>Ask questions and get answers from peers and lecturers.</p>
          </div>
          <div class="widget">
            <h2><a href="{{ url_for('aitools') }}">AI Tools</a></h2>
            <p>Upload and summarize study materials effortlessly.</p>
          </div>
          <div class="widget">
            <h2><a href="{{ url_for('studysessions') }}">Study Sessions</a></h2>
            <p>Schedule, track, and manage your study sessions effectively.</p>
          </div>
        </section>
      </main>
    </div>
{% endblock %}
